{% extends 'baseAdmin.html.twig' %}

{% block title %}ProjectCategory index{% endblock %}

{% block body %}
    <h1>ProjectCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project_category in project_categories %}
            <tr>
                <td>{{ project_category.id }}</td>
                <td>{{ project_category.name }}</td>
                <td>
                    <a class="edit" href="{{ path('app_project_category_edit', {'id': project_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="new" href="{{ path('app_project_category_new') }}">Create new</a>
{% endblock %}
