{% extends 'baseAdmin.html.twig' %}

{% block title %}New ProjectCategory{% endblock %}

{% block body %}
    <h1>Create new ProjectCategory</h1>

    {{ include('project_category/_form.html.twig') }}

    <a href="{{ path('app_project_category_index') }}">back to list</a>
{% endblock %}
