{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit ExperienceCategory{% endblock %}

{% block body %}
    <h1>Edit ExperienceCategory</h1>

    {{ include('experience_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_experience_category_index') }}">back to list</a>

    {{ include('experience_category/_delete_form.html.twig') }}
{% endblock %}
