{% extends 'baseAdmin.html.twig' %}

{% block title %}ExperienceCategory index{% endblock %}

{% block body %}
    <h1>ExperienceCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for experience_category in experience_categories %}
            <tr>
                <td>{{ experience_category.name }}</td>
                <td>
                    <a class="edit" href="{{ path('app_experience_category_edit', {'id': experience_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="new" href="{{ path('app_experience_category_new') }}">Create new</a>
{% endblock %}
