{% extends 'pages/page-base.html.twig' %}

{% block Title %}
    <h1>{{ project.name }}</h1>
{% endblock %}

{% block Base %}
    <div class="project">
        <div class="project-content">
            {{ project.content|raw }}
        </div>
        <div class="project-images">
            {% for img in project.images %}
                <img src="{{ asset("uploads/images/"~img) }}"  alt="{{ img }}"/>
            {% endfor %}
        </div>
    </div>
{% endblock %}