{% extends 'pages/page-base.html.twig' %}

{% block Title %}
    <h1>Experience / Formation</h1>
{% endblock %}

{% block Base %}
    <div class="quests">
        {% include("./pages/elements/QuestCard.html.twig") with {'quests':currentQuests} %}
        {% include("./pages/elements/QuestCard.html.twig") with {'quests':finishedQuests} %}
    </div>
{% endblock %}