{% extends 'pages/page-base.html.twig' %}

{% block Title %}
    <h1>Experience / Formation</h1>
{% endblock %}

{% block Base %}
    <div class="quests" {{ stimulus_controller('menu_quest') }}>
        <div class="quests-menu">
            {% include("./pages/elements/QuestCard.html.twig") with {'quests':currentQuests} %}
            {% include("./pages/elements/QuestCard.html.twig") with {'quests':finishedQuests} %}
        </div>
        <div class="quests-content">
            <h2 class="quest-name"></h2>
            <div class="quest-content"></div>
        </div>
    </div>
{% endblock %}