$base-color: rgb(50, 50, 50);
$hover-color: rgb(71, 142, 214);
$white: rgb(251, 251, 251);

@import "healthBar";
@import "header";
@import "menu";
@import "scrollbar";

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Nova Square', cursive;
    color: $white;
    caret-color: transparent;
}

body {
    background: #fff url("../../public/images/BG.jpg") center center/cover no-repeat;
}

.root {
    height: 100%;
    width: 100%;
}

#content {
    display: none;
    margin: 16px auto;
    background-color: $base-color;
    opacity: 0.90;
    align-self: center;
    height: calc(100% - 150px);
    max-width: 900px;
    overflow-y: scroll;
    box-shadow: 0 0 8px black;

    .title {
        text-align: center;
        box-shadow: 0 16px 48px black;
        padding: 24px 0;

        h1 {
            margin: 0;
        }
    }

    .base {
        margin: 32px 24px;
        min-height: calc(100% - 156px);

        .skill {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .active-skill {
                margin-right: 32px;
            }

            .passive-skill {
                text-align: end;
            }
        }

        h2 {
            width: 100%;
            text-align: center;
            color: $white;
            margin-bottom: 32px;
        }

        .skill-icon {
            display: flex;
            margin-bottom: 24px;
            margin-top: 8px;
            cursor: pointer;

            img {
                width: 48px;
                height: 48px;
                padding: 8px;
                border-radius: 64px;
                background-color: white;
            }

            .icon-level {
                position: relative;
                left: -53px;
                bottom: -56px;
                font-weight: bold;
                font-size: 20px;
            }
        }

        table {
            border-collapse: collapse;
        }

        tr {
            border: solid;
            border-width: 1px 0;
        }

        tr:first-child {
            border-top: none;
        }
        tr:last-child {
            border-bottom: none;
        }

        td {
            display: flex;
            flex-wrap: wrap;
        }
    }
}