nav {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;

  i {
    font-size: 48px;
  }

  .menu-layer {
    margin: 8px;
    align-self: center;

    input[type="checkbox"] {
      display: none;
    }

    label {
      width: 100%;
      text-transform: capitalize;

      .icon {
        width: 64px;
        height: 64px;
      }
    }

    ul {
      position: relative;
      list-style: none;
      padding: 0;
      width: 128px;

      .arrow {
        position: absolute;
        top: 13px;
        left: -16px;
        width: 128px;
        height: 250px;
        clip-path: polygon(8% 47%, 8% 0, 10% 0, 10% 100%, 8% 100%, 8% 53%, 0% 50%);
        background-color: $white;
      }

      li {
        background-color: rgba($base-color, 0.75);
        margin: 2px;
        padding-left: 8px;
        display: flex;
      }


      li:hover {
        background-color: $hover-color;
      }
    }
  }

  .menu-layer-1 {
    display: block;
    padding: 8px;
  }

  .menu-layer-2 {
    display: none;
  }
}