nav {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;

  i {
    font-size: 48px;
  }

  .menu-layer {
    margin: 8px;
    align-self: center;

    input[type="checkbox"] {
      display: none;
    }

    ul {
      position: relative;
      list-style: none;
      padding: 0;
    }

    label {
      width: 100%;
      text-transform: capitalize;

      .icon {
        width: 64px;
        height: 64px;
      }
    }
  }

  .menu-layer-1 {
    display: block;
    padding: 8px;

    ul {
      li {
        display: flex;
        margin: 16px 0;
        text-align: center;
        vertical-align: middle;
        width: 80px;
        height: 80px;

        label, i {
          margin: auto;
        }
      }

      li:hover {
        background-color: $hover-color;
        width: 80px;
        height: 80px;
        border-radius: 64px;
      }

      // TODO: CHECKED KEEP THE HOVER
      // TODO: ADD HALO ON HOVER
      li::after {
        border: 16px solid black;
      }
    }
  }

  .menu-layer-2 {
    display: none;

    ul {
      position: relative;
      list-style: none;
      padding: 0;
      width: 150px;

      .arrow {
        position: absolute;
        left: -16px;
        width: 128px;
        height: 100%;
        clip-path: polygon(8% 47%, 8% 0, 10% 0, 10% 100%, 8% 100%, 8% 53%, 0% 50%);
        background-color: $white;
      }

      li {
        background-color: rgba($base-color, 0.75);
        margin: 2px;
        padding-left: 8px;
        display: flex;

        label {
          padding: 8px 0;

          i {
            width: 32px;
            height: 32px;
            font-size: 24px;
            margin-left: 3px;

            color: white;
          }
        }
      }


      li:hover {
        background-color: $hover-color;
      }
    }
  }
}